.div-geral {
  margin: 0;
  padding: 32px;
  background-color: #e4e4e4;
  min-height: calc(100vh - 65px);
}

.card-informacoes {
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 24px;
  margin-top: 20px;
}

.title-aplication {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-aplication h1 {
  font-weight: 500;
  font-size: 1.75rem;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #4682b4;
  padding-top: 35px;
}

.sub-div-container-buttons-inputs {
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.sub-div-container-buttons-inputs .campo {
  margin-right: 1.2rem;
  width: 20%;
}

.formulario-filtros {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

mat-form-field {
  width: 100%;
}

.botao-pesquisar-aviso button {
  height: 50.9px;
  width: 140px;
  border: 1px solid #87cefa;
  background-color: transparent;
}

.botao-pesquisar-aviso button span {
  color: black;
  font-size: 18px;
}

.botao-pesquisar-aviso button:hover {
  background-color: #87cefa;
  color: #ffffff;
}

.table-aplication {
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
  min-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

th {
  padding: 12px;
  text-align: left;
  background-color: #87cefa;
  color: #2b2b2b;
}

td {
  padding: 12px;
  text-align: left;
  font-size: 16px;
  color: black;
}

.paginator {
  width: 100%;
  margin-top: 20px;
}

.table-sem-conteudo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.table-sem-conteudo h3 {
  color: #87cefa;
  font-size: 1.2rem;
}

.div-button-add-models {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: flex-start;

  button {
    width: 216px;
    height: 50px;
    background: #87cefa;
    border-radius: 4px;
    opacity: 1;
    border: none;

    span {
      color: black;
      font-size: 1.1rem;
      font-weight: 500;
      width: 1.5rem;
    }
  }

  .mat-icon-button {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
  }

  .mat-icon {
    color: #333;
    font-size: 24px;
  }

  .botao {
    display: flex;
  }
}
